<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Seguroty-202010703
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Seguroty-202010703</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
      <img src="https://img.freepik.com/vector-premium/icono-seguro-estilo-plano-garantia-privacidad-ilustracion-vectorial-sobre-fondo-aislado-signo-riesgo-seguridad-concepto-negocio_157943-28084.jpg?w=740" alt="">
      <a href="http://localhost:8100/incidencias">Actividades</a>
      <a href="http://localhost:8100/ofical">Agente</a>
  </div>
</ion-content>
