#container {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

img{
  width: 40%;
  margin: 0 auto;
}

a{
  background-color: #8c8c8c;
  padding: 25px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
}


